#
/_
/__

/*dev

/vendor/

*.zip
*.gz
*.bzip2
*.bz2
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2

resources/views/templates/_
resources/views/templates/*dev*
resources/views/templates/_checkout/
reources/views/templates/checkout/_testingOrderSummary/

public/_assets/

