.formBlock {
    padding: 15px 30px;
}
.formBlock .article p {
    margin-top: 0;
}
.formBlock form .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 0 0 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
    color: #b0b0b0;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.formBlock form label {
    font-size: 13px;
    font-weight: 500;
    width: 100%;
}
.textPage .article p {
    margin-top: 15px;
}
.textPage .article > div {
    margin-bottom: 15px;
}
.ctaBannerFooter {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 1px;
    color: #ffffff;
}
.ctaBannerFooter h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.ctaBannerFooter h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

/*--
SIGN IN
--*/
.sign form {
    margin-top: 15px;
}
.sign form a {
    width: 100%;
    float: right;
    font-size: 13px;
    font-weight: 500;
    color: #212121;
    line-height: inherit;
    margin-bottom: 20px;
}
.sign span {
    font-size: 13px;
    margin-top: 30px;
    display: block;
}
.sign span a {
    font-weight: 700;
    color: #212121;
}

@media (max-width: 1024px) { 
    .ctaBannerFooter h1 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 992px) { 
    .formBlock {
	padding: 15px 30px;
    }
}

@media (max-width: 768px) { 
    .ctaBannerFooter h1 {
        padding-left: 0;
        padding-right: 0;
    }
    .sign span {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}


@media (max-width: 576px) { 
    /* .formBlock {
        text-align: center;
    } */
    .formBlock form label {
        text-align: left !important;
    }
    .formBlock form .form-control {
        height: 50px;
    }
    .textPage .article {
        text-align: center;
    }
}