/**
 *
 * Mobile Navigation Styling
 *
 */

@media only screen and (max-width: 991px) {

  #navbarNav.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .banner picture,
  .banner picture img.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  header {
    position: relative;
  }

  a.navbar-share-follow {
    line-height: 50px;
    padding: 0 1.618rem;
  }

  #navbarNavResponsive {
    display: none;
    max-width: 220px;
    padding: 0;
    background-color: #ffffff;
  }

  #navbarNavResponsive {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10100;
  }

  #navbarNavResponsive .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  #navbarNavResponsive ul li,
  #navbarNavResponsive ul li a {
    font-size: 13px !important;
    line-height: inherit;
    padding: 0.618rem 0;
    font-weight: 600;
  }

  img.close-menu {
    max-width: 15px;
    max-height: 15px;
  }

  header #navbarNavResponsive.mobile-top-skirting {
    background-image: url('/assets/images/logo/top-store-skirting-deco.png');
    background-repeat: repeat-x;
  }
}

@media only screen and (max-width: 576px) {

  #navbarNavResponsive ul li,
  #navbarNavResponsive ul li a {
    padding: 0.618rem 0 0.309rem;
  }
}
